In [1]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/ghazafm/SocialMediaSentiment/main/preprocessing/EDA/id_clean/prabowo.csv')
df.head(10)

,Unnamed: 0,Date,User ID,Tweet Count,Tweet Location,Tweet,label,Clean,city
0,3,2023-04-16,4.745574e+09,7395,NaN,selamat hut kopassus ke semoga semangat patrio...,Positive,selamat hut kopassus ke semoga semangat patrio...,NaN
1,5,2023-04-16,5.767560e+08,293022,"Kebumen, Indonesia",prabowo presiden cebong kampret pensiun,Negative,cebong kampret pensiun,Kebumen
2,12,2023-04-16,4.652806e+08,13673,jakarta,komunitas pedagang tabanan bali deklarasi duku...,Positive,komunitas pedagang tabanan bali deklarasi duku...,jakarta
3,13,2023-04-16,1.984000e+08,2215,JAKARTA,dari tetap bersama pk prabowo semoga pk prabow...,Positive,dari tetap bersama pk semoga pk menjadi ri per...,JAKARTA
4,14,2023-04-16,4.652806e+08,13673,jakarta,gemira dan semeton muslim bali deklarasi dukun...,Positive,gemira dan semeton muslim bali deklarasi dukung,jakarta
5,15,2023-04-16,1.919516e+08,13842,KPK,istana presiden sudah menunggu jendral siap pe...,Positive,istana sudah menunggu jendral siap perintah je...,KPK
6,19,2023-04-16,1.714582e+08,35,Tangerang Selatan,amien rais akan pilih prabowo subianto bila an...,Negative,amien rais akan pilih subianto bila gagal jadi...,Tangerang Selatan
7,20,2023-04-16,6.342276e+08,5297,"Jawa Barat, Indonesia",anies prabowo,Negative,NaN,Jawa Barat
8,22,2023-04-16,2.524152e+08,125348,NaN,sngt tergantung presiden yg akan terpilih di k...,Negative,sngt tergantung yg akan terpilih di kl saya be...,NaN
9,23,2023-04-16,4.652806e+08,13673,jakarta,mulyadi minta ketua dprd kabupaten bogor jadik...,Positive,mulyadi minta ketua dprd kabupaten bogor jadik...,jakarta

In [2]:
df_neg = df[df['label']=='Negative']
df_negative = df[df['label']=='Negative']
df_negative = df_negative.groupby('User ID').size().nlargest(10).reset_index(name='Count')
df_negative = pd.DataFrame(df_negative)
df_negative = pd.merge(df_negative, df_neg, on='User ID')
df_negative.to_csv('prabowo_negative.csv')
df_negative['User ID'].value_counts()
df_negative_count = pd.DataFrame(df_negative['User ID'].value_counts())
df_negative_count

              count
User ID
2.887087e+09     71
4.652806e+08     21
2.159894e+08     17
4.654583e+08     17
2.221519e+09     13
3.306055e+09     12
1.375603e+08     11
2.410032e+09     11
4.654233e+08     10
1.891902e+08      9

In [3]:
df_pos = df[df['label']=='Positive']
df_positive = df[df['label']=='Positive']
df_positive = df_positive.groupby('User ID').size().nlargest(10).reset_index(name='Count')
df_positive = pd.DataFrame(df_positive)
df_positive = pd.merge(df_positive, df_pos, on='User ID')
df_positive.to_csv('prabowo_positive.csv')
df_positive_count = pd.DataFrame(df_positive['User ID'].value_counts())
df_positive_count

              count
User ID
4.652806e+08     69
2.410032e+09     61
4.654583e+08     43
2.320493e+09     39
2.420417e+09     36
1.375603e+08     32
3.306055e+09     32
7.260596e+08     31
4.186004e+09     30
4.513070e+09     29